<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controladores.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citasdetaller</servlet-name>
        <servlet-class>controladores.citasdetaller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misionyvision</servlet-name>
        <servlet-class>controladores.misionyvision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebaderuta</servlet-name>
        <servlet-class>controladores.pruebaderuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repuestos</servlet-name>
        <servlet-class>controladores.repuestos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taller</servlet-name>
        <servlet-class>controladores.taller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valorescorporativos</servlet-name>
        <servlet-class>controladores.valorescorporativos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repuesto</servlet-name>
        <servlet-class>controladores.repuesto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citasdetaller</servlet-name>
        <url-pattern>/citasdetaller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misionyvision</servlet-name>
        <url-pattern>/misionyvision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pruebaderuta</servlet-name>
        <url-pattern>/pruebaderuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repuestos</servlet-name>
        <url-pattern>/repuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taller</servlet-name>
        <url-pattern>/taller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valorescorporativos</servlet-name>
        <url-pattern>/valorescorporativos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repuesto</servlet-name>
        <url-pattern>/repuesto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
